<h1 class="page_top">Favorites</h1>
<div class="container-fluid">
  <% if @favorites.size > 0 %>
    <% @favorites.each do |fav| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= fav.picture.title %>
        </div>
        <div class="panel-body">
          <div>
            <%= image_tag(fav.picture.image.url) %>
          </div>
          <div class="post_comment">
            <%= fav.picture.comment %>
          </div>
          <div class="post_by">
            post by:<%= fav.picture.user.name %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p> no favorites ...</p>
  <% end %>
</div>
